/* 主标题栏 */
#TitleWidget {
    background-color: #ededed;
}

/* 返回按钮 */
#BackButton {
    font-size: 20px;
    padding: 5px;
}

/* 标题文本 */
#TitleLabel {
    font-size: 18px;
    color: #000000;
    font-family: "HarmonyOS Sans SC";
}

/* 菜单按钮 */
#MenuButton {
    font-size: 17px;
    padding: 5px;
    letter-spacing: 0px;
}
